################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Speed Typing Test - tester/.vs/Speed Typing Test - tester/v16/Server/sqlite3
